# Local/private config goes in the include
[include]
        path = ~/.gitconfig.local
[user]
	name = Ryan Gildea
        email = ryangildea@gmail.com
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPl3BvmPDHLgP/b/sKhYaBRE+ZTGzveAa00D4DIwZXPs
[credential]
        helper = osxkeychain
[gpg]
        format = ssh
[gpg "ssh"]
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[url "git@github.com:"]
        insteadOf = https://github.com/
[pull]
        rebase = true
[push]
        default = simple
        autoSetupRemote = true
[fetch]
        prune = true
[rebase]
        autoSquash = true
[log]
        abbrevCommit = true
        decorate = auto
[pretty]
        pretty = oneline
[status]
        short = true
        branch = true
[alias]
        count                   = !git shortlog -sn
        force-push              = push --force-with-lease
        br                      = branch
        ci                      = commit
        co                      = checkout
        cp                      = cherry-pick
        fp                      = force-push
        promote                 = !$ZSH/bin/git-promote
        rank-contributors       = !$ZSH/bin/git-rank-contributors
        rb                      = rebase
        st                      = status
        unstage                 = reset --quiet HEAD
        uncommit                = reset --mixed HEAD~
        wtf                     = !$ZSH/bin/git-wtf
[apply]
        whitespace = nowarn
[color]
        diff = auto
        status = auto
        branch = auto
	ui = true
[commit]
	template = /Users/ryan/.stCommitMsg
	gpgsign = true
[core]
        excludesfile = /Users/ryan/.gitignore
        editor = code
        pager = delta # diff-so-fancy | less --tabs=4 -RFX
        whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[diff]
	# tool = Kaleidoscope
        colorMoved = default
[difftool]
	prompt = false
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[interactive]
        diffFilter = delta --color-only
        # diffFilter = diff-so-fancy --patch
[delta]
        navigate = true    # use n and N to move between diff sections
        light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
        line-numbers = true
        side-by-side = true
[merge]
        conflictstyle = diff3
	# tool = Kaleidoscope
[mergetool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[help]
        autocorrect = 1
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
